*{
    padding: 0;
    margin: 0;
    
}
.navbar{
    /* background-color: rgb(8, 159, 139); */
    /* background-color: rgb(4, 198, 30);s */
    /* background: linear-gradient(45deg,#3cb9fc,#b537f2,#8a2be2,#120012); */
    /* background: linear-gradient(47deg,#1b1145,#412279,#100b1f,#8799bc,#bb96bb); */
    /* background: linear-gradient(45deg,#053c5e,#050e1e,#031e4b,#239bc3,#0d3a91); */
    /* background: linear-gradient(45deg,#096eba,#06a99d,#2c63ac,#919fd6) */
    /* background: linear-gradient(45deg,#aa9beb,#5c5db4,#26105d,#4754a1,#1002da); */
    /* background: linear-gradient(45deg,#415197,#47bcc7,#061136,#457fab,#0e2256); */
    background: linear-gradient(45deg,#15251d,#30833b,#0a0a0a);
    /* background: linear-gradient(45deg,#e07ef0,#1892a2,#386ac6); */
    /* background: linear-gradient(45deg,#082837,#c8f1eb,#051a26,#4f9693,#447ca4); */
    /* background: linear-gradient(45deg,#201f41,#422d53,#912e54,#d1788f,#dd7c86,#201f41,#422d53); */
    /* background: linear-gradient(45deg,#111a21,#a9081c,#716b6d); */
    /* background: linear-gradient(45deg,#446063,#ccd4dd,#141e1d); */
    
}
.navbar-brand{
    color: rgb(249, 243, 243);
    font-weight: 30px;
}
.navbar-brand:hover{
    color:  rgba(0, 1, 1, 0.977);;

}
.btn {
    background-color:rgb(12, 12, 12); 
    color:rgba(255, 255, 255, 0.977) ; 
    border: 1px solid rgba(253, 255, 255, 0.977) ;
}
.btn:hover{
color: rgba(251, 255, 255, 0.977); 
background-color: rgb(255, 253, 253) !important;
}
.form-control{
    padding-right: 150px;
    background-color: transparent;
}

.d-flex{
    padding-right: 180px;
    height: 50px;
    background-color: transparent;

}
.nav-link{
    color: rgba(252, 250, 250, 0.977);
}
.nav-link:hover{
    color: rgb(64, 4, 102); 
}
.dropdown-menu{
    background-color:rgba(0, 0, 0, 0.804); 
    background: rgba(185, 63, 251, 0.767);
background: linear-gradient(45deg,#15251d98,#30833b84,#0a0a0a8f);
}
.dropdown-item{
    color:rgba(249, 251, 251, 0.977) ;
}
.dropdown-item:hover{
   background-color: #151313ba !important;
}
.img-fluid{
    background-size: cover;
    width: 100%;
}
    /* ...............................................................add css for vedio................................................................................ */

    body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      .container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-left: 500px;
      }
      
      .lcd-shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding-bottom: 80%; 
        border: 3px solid #000;
        background: #000;
      }
      
      video#background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      