*{
    margin: 0%;
    padding: 0%;
}
.mainfile{
    /* background-color: #0a0a0a; */
    background-image: url(./image/lenovo/unnamed.jpg);
    background-size: cover;
    height: 500px;
    width: 480px;
    /* position: absolute  ; */
}
.info{
    margin-left: 500px;
    /* background-color: rgb(227, 233, 175); */
    background-color: rgb(175, 205, 233);
    height: 500px;
    width: 845px;
    position: absolute;
}
.maininfo{
    height: 600px;
    margin-top: 60px;
    margin-left:30px;
    width: 1300px;
    background-color: rgb(175, 205, 233);
}
h1{
    margin-top: 20px;
    margin-left: 10px;
    font-size:25px;
}
.para1{
    margin-top: 10px;
    margin-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading2{
    margin-left: 80px;
    font-size: 30px;
}
.gaphead{
    background-color:rgb(255, 255, 255);
    border-left:1px solid #000000;
    margin-top: 10px;
    border-right:1px solid #000000;
    height: 25px;
}
.heading3{
    /* margin-top: 10px; */
    margin-left: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.gapgroup{
    background-color: lightblue;
    border-left:5px solid #3c8aff;
    
}
.group ul li{
    /* text-decoration: none; */
    list-style-type: none ;
    margin-left: 80px;
    padding: 2px;
}
.gapheadlast{
    background-color:rgb(255, 255, 255);
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    margin-top: 10px;
    height: 30px;
    border-bottom: 1px solid #000000;
}
.heading4{
    margin-left: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}
/* .heading4:hover{
    color: #3c8aff;
} */