 /* --------------------------------nav bar css start-------------------------------------- */
 * {
    padding: 0;
    margin: 0;
   
font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;

}

.social-links1 .fab{
margin-left: 40px;
color: #000;
height: 40px;
size: 40px;
margin-top: 10px;
width: 50px;
font-size: 40px;
}
.social-links1 .fab:hover{
color: aqua;

}

.navbar{
background: linear-gradient(45deg,#3cb9fc,#b94def,#892be28e,#12001262);

z-index: +1;  
font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
}


.navbar-brand{
    color: rgb(9, 161, 156);
    margin-top: 20px;
  font-weight: bold;  
  font-size: 30px;

}
.nav-link{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
}
.nav-link:hover{
    color: rgb(90, 246, 246);
}
.nav-item{
    margin-left: 80px;
    margin-top: 20px;
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.445);
}
.dropdown-item{
    color: white;

}
.dropdown-item:hover{
    background-color: rgb(38, 219, 232);
}
.d-flex{
    margin-top: 20px;
    margin-left: 150px;}




.containercard{
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  @media screen and (max-width:800px) {
    .containercard{flex-direction: column;}
    
  }
  .card {
      max-width: 300px;
      margin: 20px auto;
      height: 400px;
    }
    
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
    .table-responsive {
    margin-top: 50px;
  }