*{
    padding: 0;
    margin: 0;
    
}
.navbar{
    width: 100%;
    /* background-color: rgb(8, 159, 139); */
    /* background-color: rgb(4, 198, 30);s */
    /* background: linear-gradient(45deg,#3cb9fc,#b537f2,#8a2be2,#120012); */
    /* background: linear-gradient(47deg,#1b1145,#412279,#100b1f,#8799bc,#bb96bb); */
    /* background: linear-gradient(45deg,#053c5e,#050e1e,#031e4b,#239bc3,#0d3a91); */
    /* background: linear-gradient(45deg,#096eba,#06a99d,#2c63ac,#919fd6) */
    /* background: linear-gradient(45deg,#aa9beb,#5c5db4,#26105d,#4754a1,#1002da); */
    /* background: linear-gradient(45deg,#415197,#47bcc7,#061136,#457fab,#0e2256); */
    background: linear-gradient(45deg,#15251d,#30833b,#0a0a0a);
    /* background: linear-gradient(45deg,#e07ef0,#1892a2,#386ac6); */
    /* background: linear-gradient(45deg,#082837,#c8f1eb,#051a26,#4f9693,#447ca4); */
    /* background: linear-gradient(45deg,#201f41,#422d53,#912e54,#d1788f,#dd7c86,#201f41,#422d53); */
    /* background: linear-gradient(45deg,#111a21,#a9081c,#716b6d); */
    /* background: linear-gradient(45deg,#446063,#ccd4dd,#141e1d); */
    
}
.navbar-brand{
    margin-left: 200px;
    color: rgb(249, 243, 243);
    font-weight: 30px;
}
.navbar-brand:hover{
    color:  rgba(0, 1, 1, 0.977);;

}
.nav-link{
    color: rgba(252, 250, 250, 0.977);
}
.nav-link:hover{
 /* background-color: rgb(255, 253, 253) !important; */
    color: rgb(64, 4, 102); 
}
.dropdown-menu{
    background-color:rgba(0, 0, 0, 0.804); 
    /* background-color:rgba(0, 0, 0, 0.804);  */
    background: rgba(185, 63, 251, 0.767);
/* background: radial-gradient(circle, rgba(185, 63, 251, 0.769) 0%, rgb(11, 166, 127) 100%); */
/* background: linear-gradient(45deg,#446063bd,#a5c0dfa9,#141e1da0); */
background: linear-gradient(45deg,#15251d98,#30833b84,#0a0a0a8f);
}
.dropdown-item{
    color:rgba(249, 251, 251, 0.977) ;
}
.dropdown-item:hover{
   background-color: #151313ba !important;
}
.img-fluid{
    background-size: cover;
    width: 100%;
}

    .tv {
        position: relative;
        width: 100%;
        height: 500px;
        
        overflow: hidden;
    }
    
    .tv::before {
        content: "";
        /* position: absolute; */
        /* top: 10%; */
        /* left: 5%; */
        width: 100%;
        height: 80%;
        /* border: 10px solid black; */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        /* background: black; */
    }
    
    .tv video {
        /* position: absolute; */
        /* top: 1%; */
        /* left: 7%; */
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }
   @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

.cardbody{
	font-size: 1.7rem;
	/* font-family: 'Merriweather Sans', sans-serif; */
	background: #2c3e50;
	color: #ececec;
	padding: 4rem;
}

h2{
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}

.navbar{
    height: 100px;
    position: fixed;
    /* position: absolute; */
}
.logo{
    /* background-color: #0a0a0a; */
    height: 100px;
    width: 110px;
    margin-left: 5px;
    background-image: url(./image/logos/logo\ 2.png);
    background-size: cover;
    position: fixed;
}
